/*colors*/
$blue-bg-color: #1C0C5B;
$blue-primary-color:#3D2C8D;
$violet-secondary-color:#916BBF;
$violet-light-tertiary-color:#C996CC;
$black-text-color:#171717;
$grey-text-color:#444444;
$grey-light-color: #9e9e9e;
$just-white: #FFFFFF;

/*fuentes*/
$font-red-hat-display:'Red Hat Display', sans-serif;
$font-poppins: 'Poppins', sans-serif;

/*breakpoints*/
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 800px;