  .main-container{
      grid-area:main;
      position: relative;    
  }
/*hobbies*/
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;  
  }
  .paragraph-iframe{
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  /*service*/

  .address-container{
    @include flexColumnHVcenter;
    gap:10px;
    &__icon{
      @include flexRowHVcenter;
      width:60px;
      height:60px;
      border-radius: 50%;
      font-size: 3.2rem;
      transition: all 250ms ease;
      
      &:hover{
        background-color:$black-text-color;
        color:$litle-white;
      }
    }

    h5{
      font-size:1.4rem;
    }

    p{
      color:$grey-text-color;
      text-align: center;
    }

  }
 