.animate__animated.animate__jackInTheBox{
    animation-duration: 2s;
  }
  .animate__animated.animate__slideInUp{
    animation-duration: 4s;
  }

/*bootstrap modifications*/
.carousel-caption{
  width: 100% !important;
  left: 0% !important;
  bottom: 0% !important;
  padding-left: 15px;
  padding-right: 15px;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  8% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}