/*tablet*/
@media only screen and (min-width: 800px){
  

    .hero-container--contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: main;
       padding: 100px 60px;
    }
    .hero-container--contact__message{
      position: absolute;
      display: inline-block;
      margin-top: -55%;
    }

    .sitemap{
      flex-direction:row;
    }
  
  }
  
  /*desktop*/
  @media only screen and (min-width: 1140px){
  
    .hero-container__nav { 
      display: flex;
      align-items: center;
    }
  
    .navbar--on-mobile  {
      display: none !important;
    }

    .mobile-only{
      display: none;
    }
  
    .hero-container--bio{
      height: 560px;
    }
    
    .hero-container--contact{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-position: center;
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: none;
      padding: 0;
      
    }
    
    .hero-container--contact__message{
      position: absolute;
      left: 60px;
      margin-top: 0;
      top: calc(50% - 72px);
    }
  
    .hero-container--hobbies{
      height: 600px;
    }
    .bg-img-container{
      height:calc(100vh - 92px);
      position: relative;
    }
    .contact-title{
    font-size: 4rem;
  
    }
    .contact-paragraph{
    text-align: unset;
    font-size: 1.5rem;
    }



  }